@keyframes spin{  
  from {  
    transform: rotate(0deg);  
  }  
  to {  
    transform: rotate(360deg);  
  }  
}  
.recent-post-item,
.aside-content > *,
.layout :nth-child(1) > *
{
	  animation: spin 2s linear infinite;  
}
