/* 文章页背景 */
.layout_post>#post {
    /* 以下代表透明度为0.7 可以自行修改*/
    background: rgba(255,255,255,.8);
}

/* 所有页面背景 */
#post,#aside_content .card-widget, #recent-posts>.recent-post-item,.post, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post
{
    /* 以下代表透明度为0.7 */
    background: rgba(255,255,255,.8);
}
/*侧边卡片的透明度 */
:root {
  --card-bg: rgba(255, 255, 255, .3);
}
/* 页脚透明 */
#footer {
    /* 以下代表透明度为0.7 */
    background: rgba(255,255,255, .0);
}
.layout_post>#post {
    /* 以下代表透明度为0.7 可以自行修改*/
    background: rgba(0,0,0,.8);
}

/* 所有页面背景 */
[data-theme="dark"] #post,[data-theme="dark"] #aside_content .card-widget, [data-theme="dark"] #recent-posts>.recent-post-item,[data-theme="dark"] .post,[data-theme="dark"] .layout_page>div:first-child:not(.recent-posts),[data-theme="dark"] .layout_post>#page,[data-theme="dark"] .layout_post>#post,[data-theme="dark"] .read-mode .layout_post>#post
{
    /* 以下代表透明度为0.7 */
    background: rgba(0,0,0,.8);
}
/*侧边卡片的透明度 */
[data-theme="dark"] :root {
  --card-bg: rgba(0, 0, 0, .3);
}
/* 页脚透明 */
[data-theme="dark"] #footer {
    /* 以下代表透明度为0.7 */
    background: rgba(0,0,0, .0);
}
