/* æ–‡ç« é¡µèƒŒæ™¯ */
.layout_post>#post {
    /* ä»¥ä¸‹ä»£è¡¨é€æ˜Žåº¦ä¸º0.7 å¯ä»¥è‡ªè¡Œä¿®æ”¹*/
    background: rgba(255,255,255,.65);
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.65);
}

/* æ‰€æœ‰é¡µé¢èƒŒæ™¯ */
/*ä¾§è¾¹å¡ç‰‡çš„é€æ˜Žåº¦ */
/* é¡µè„šé€æ˜Ž */
#footer {
    /* ä»¥ä¸‹ä»£è¡¨é€æ˜Žåº¦ä¸º0.7 */
    background: rgba(255,255,255, .0);
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.65);
}
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post,
#post,
.layout_post>#post,
#page,
#archive，
.magnet_item
{
    /* ä»¥ä¸‹ä»£è¡¨é€æ˜Žåº¦ä¸º0.7 */
    background: rgba(255,255,255,.7);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .9),
      0.4px 0.4px 0.3px rgba(0, 0, 0, 0.073),
      1px 1px 0.7px rgba(0, 0, 0, 0.105),
      1.9px 1.9px 1.3px rgba(0, 0, 0, 0.18),
      3.4px 3.4px 2.2px rgba(0, 0, 0, 0.305),
      6.3px 6.3px 4.2px rgba(0, 0, 0, 0.437),
      15px 15px 10px rgba(0, 0, 0, 0.26)
    ;
  border-radius: 65px;
  border: 2px solid #ffd000;
}

#recent-posts>.recent-post-item:hover,
.magnet_item:hover
{
    background: rgba(255,255,255,.8);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    border: 2px solid #8900eb;
}
#aside-content .card-widget
{
    /* ä»¥ä¸‹ä»£è¡¨é€æ˜Žåº¦ä¸º0.7 */
    background: rgba(255,255,255,.4);
    box-shadow: 7px 9px 11px 0px rgba(0, 0, 0, 0.65);
  border-radius: 50px;
  border: 2px solid #00ffe6;
}
#aside-content .card-widget:hover
{
  border: 2px solid #8900eb;    
}

/*:root {
  --card-bg: rgba(255, 255, 255, .2);
  box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.65);
  border-radius: 45px;
  border: 2px solid #ffd000;
}*//*
.sticky_layout *
{
  background: rgba(255, 255, 255, .7);
  box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.65);
  border-radius: 45px;
  border: 2px solid #ffd000;
}*/
/*
.card-widget.card-info,.card-widget.card-announcement,.card-widget.card-recent-post,.card-widget,.card-widget.card-tags,.card-widget.card-archives,.card-widget.card-webinfo
{
    background: rgba(255,255,255,.35);
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.65);
}*//*
#sidebar-menus
{
    background: rgba(255,255,255,.35);
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.65);
}*//*
#aside-content*
{
    background: rgba(0,0,0,.9);
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.65);
}*/
/* æ‰€æœ‰é¡µé¢èƒŒæ™¯ */


[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] #recent-posts>.recent-post-item,
[data-theme="dark"] .layout_page>div:first-child:not(.recent-posts),
[data-theme="dark"] .layout_post>#page,
[data-theme="dark"] .layout_post>#post,
[data-theme="dark"] .read-mode .layout_post>#post,
[data-theme="dark"] #post,
[data-theme="dark"] .layout_post>#post,
[data-theme="dark"] #page,
[data-theme="dark"] #archive,
[data-theme="dark"] .magnet_item
{
    /* ä»¥ä¸‹ä»£è¡¨é€æ˜Žåº¦ä¸º0.7 */
    background: rgba(0,0,0,.65);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .1),
  0.4px 0.4px 0.3px rgba(0, 0, 0, 0.149),
  1px 1px 0.7px rgba(0, 0, 0, 0.214),
  1.9px 1.9px 1.3px rgba(0, 0, 0, 0.265),
  3.4px 3.4px 2.2px rgba(0, 0, 0, 0.316),
  6.3px 6.3px 4.2px rgba(0, 0, 0, 0.481),
  15px 15px 10px rgba(0, 0, 0, 0.53)

            ;
}
/*ä¾§è¾¹å¡ç‰‡çš„é€æ˜Žåº¦ */
[data-theme="dark"] :root {
  --card-bg: rgba(0, 0, 0, .5);
  box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.65);
}
/* é¡µè„šé€æ˜Ž */
[data-theme="dark"] #footer {
    /* ä»¥ä¸‹ä»£è¡¨é€æ˜Žåº¦ä¸º0.7 */
    background: rgba(0,0,0, .8);
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.65);
}

[data-theme="dark"] #recent-posts>.recent-post-item:hover,
[data-theme="dark"] .magnet_item:hover
{
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.1);
    border: 2px solid #8900eb;
}
[data-theme="dark"] #aside-content .card-widget
{
    /* ä»¥ä¸‹ä»£è¡¨é€æ˜Žåº¦ä¸º0.7 */
    background: rgba(0,0,0,.4);
    box-shadow: 7px 9px 11px 0px rgba(0, 0, 0, 0.65);
  border-radius: 50px;
  border: 2px solid #00ffe6;
}
[data-theme="dark"] #aside-content .card-widget:hover
{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.65);
  border: 2px solid #8900eb;    
}