[data-theme="dark"] .magnet_link_context
{
/*	border-radius: 100%;*/
/*	overflow: visible;*/
	color: #ffffff;
}
.magnet_item
{	
	overflow: hidden;
  border-radius: 100%;
  border: 2px solid #ffffff;
}
.magnet_link
{
	border-radius: 100%;
}
#recent-posts>.recent-post-item:has(#catalog_magnet)
{
/*	overflow: hidden;*/
/*	overflow: visible;*/
/*	border-radius: 100%;*/
  border-radius: 20px;
  border: 2px solid #ff9300;
}